  <div class="row container info-container">
  <form class="form-horizontal container " name="commentform">
    <div class="form-group container">
        <div class="col-md-5">
            <big>Find bogged-down sections of route: </big>
        </div>
        <div class="col-md-7">
            <select ng-model="route" ng-options="'rt:'+route.route +'-'+ route.dir +': ' +route.headsign  for route in routes" ng-change="getMap(route)">
                <option value="" selected>-select bus route to map-</option>
            </select><br>
        </div>
    </div>
    <div class="form-group container">
        <div class="col-md-1">
            <big>on:</big>
        </div>
        <div class="col-md-3">
                <select  ng-model="sdate"  ng-options="sdate for sdate in sdates" >
                </select><br>
        </div>
        <div class="col-md-1">
            <big>@</big>
        </div>
        <div class="col-md-4">
                <select  ng-model="time"  ng-options="time for time in times" >
                </select><br>
        </div>      
        <div class="col-md-3">
            <button type="submit"class="btn btn-default bkg-config" ng-click="mapIt()">map it !</button>
        </div>                     
    </div>
</form>
</div><!-- /row -->
</div><!-- /container -->